{% extends 'base.html' %}

{% block content %}

    {% for datum in data %}
        <div class="card">
            <a href="{{ datum.image_flagship.url }}"><img class="card-img-top" src="{{ datum.image_flagship.url }}" alt="Image"></a>
            <div class="card-body">
                <h5 class="card-title">{{ datum.title }}</h5>
                <p class="card-text">{{ datum.description }}</p>
                <a href="{% url 'image_view' datum.pk %}">View all images</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ datum.uploaded_at }}</small>
            </div>
        </div>
    {% endfor %}

    <a href="{% url 'new_upload' %}">
        <button type="button" class="btn btn-primary my-4">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload Image
        </button>
    </a>

{% endblock %}

{% block javascript %}
{% endblock %}
