{% extends 'base.html' %}

{% block title %}Image{% endblock %}

{% block content %}
    <div class="my-4">
        <h1 class="text-center">{{ datum.title }}</h1>
        <h4 class="text-center">{{ datum.description }}</h4>
        <div class="justify-content-center">
            {% for image in datum.images.all %}
                <a href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" style="height: 250px; width: 400px" alt="Image">
                </a>
            {% endfor %}
        </div>
        <a href="{% url 'new_upload' %}">
            <button type="button" class="btn btn-primary my-4 js-upload-photos">
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload Image
            </button>
        </a>
    </div>
{% endblock %}
